@{
    ViewData["Title"] = "Home Page";
}
<center>
    <div class="text"><br /><br />
        <a class="navbar-brand" asp-area="" asp-controller="svCtrl" asp-action="Index">Quản lý sinh viên</a>
        <a class="navbar-brand" asp-area="" asp-controller="lopCtrl" asp-action="Index">Quản lý lớp học</a>
        <br /><br /><br /><br /><br /><br />
    </div>

    <div style="font-size: 50px; font-style: initial">
        <i>
            Welcome to my website !!!
        </i>
    </div>
</center>